@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: url(./images/cloud.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  padding: 10px;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
}
.left-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.left-banner h1 {
  font-size: 45px;
  color: #fff;
}
.left-banner p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.right-banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.right-banner img {
  width: 100%;
}
.highlight {
  color: #ff008e;
}
.p-btn {
  background-image: linear-gradient(90deg, #c21273, #ff008e);
  padding: 15px 20px;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 7px 0 #a5075e;
  position: relative;
}

.p-btn:active {
  top: 5px;
  box-shadow: 0 2px 0 #a5075e;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 40px;
  text-transform: uppercase;
  border-bottom: 2px solid #ff008e;
  margin: 50px 0;
  display: inline-block;
}
.feature{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.card{
    width: 300px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 30px 35px rgba(0,0,0,.2);
}
.card .card-icon{
    background-color: #FF008E;
    border-radius: 26%;
    height: 57px;
    width: 57px;
    padding: 10px;
    font-size: 36px;
    margin-bottom: 5px;
    color: #fff;
}
.card h3{
    color: #FF008E;
    font-size: 25px;
}
.card p{
    margin: 10px 0 ;
    line-height: 1.5;
}
.card a{
    text-decoration: none;
    color: #FF008E;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
}
.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 3px solid #ff008e;
  transition: .4s ease-in-out;
}
.photo {
  overflow: hidden;
}
.photo img:hover {
  transform: scale(1.1);
  cursor:zoom-in;
}
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.left-contact img {
  width: 100%;
}
.right-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-filled {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  outline: 0;
  border: 1px solid #ff008e;
  font-size: 18px;
  font-family: inherit;
}
.input-filled:hover {
  outline: 1px solid #ff008e;
}
footer {
  text-align: center;
  padding: 30px;
}
#nav-toggler {
  display: none;
}
.nav-toggler-icon {
  display: none;
  color: #fff;
  font-size: 30px;
}

@media (max-width:950px){
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .left-banner h1{
        font-size: 35px;
    }
}

@media (max-width:800px){
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .feature,
    .gallery,
    .contact{
        grid-template-columns: 1fr;
    }
    .photo{

        text-align: center;
    }
    .photo img{
        max-width: 350px;
    }
    .left-banner{
        padding: 50px 0;
    }
    .nav-toggler-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px 0;
        transform: translateY(-330px);
        transition: .5s ease-in-out;
    }
    .navigation li a{
        color: #121212;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);
    }
}